[include]
	path = ~/.gitconfig.local
[alias]
	alias = ! git config --get-regexp ^alias\\. | sed -e s/^alias\\.// -e s/\\ /\\ =\\ /
	graph = log --oneline --graph --decorate
	ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
	ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
	lds = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short
	gh = log --pretty=format:"%C(yellow)-%C(reset)\\ %C(green)%s%C(reset)\\ %C(red)%h%C(reset)" --decorate --reverse
	local-branches = !git branch -vv | cut -c 3- | awk '$3 !~/\\[/ { print $1 }'
	recent-branches = !git branch --sort=-committerdate | head
	authors = !git log --format='%aN <%aE>' | grep -v 'users.noreply.github.com' | sort -u --ignore-case
[color]
	ui = true
[core]
	autocrlf = false
	editor = code --wait
	excludesfile = ~/.gitignore
	pager = less
	savecrlf = true
	whitespace = trailing-space,space-before-tab,tab-in-indent
[filter "lfs"]
	clean = git-lfs clean -- %f
	process = git-lfs filter-process
	required = true
	smudge = git-lfs smudge -- %f
[format]
	pretty = format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
[help]
	autocorrect = 5
[hub]
	protocol = ssh
[init]
	templateDir = ~/.config/git/template/
[log]
	abbrevCommit = true
[merge "ours"]
	driver = true
[protocol]
	version = 2
[push]
	default = simple
