[include]
	path = ~/.gitconfig.local
[alias]
	alias = ! git config --get-regexp ^alias\\. | sed -e s/^alias\\.// -e s/\\ /\\ =\\ /
	branches = !legit branches
	graft = !legit graft
	harvest = !legit harvest
	publish = !legit publish
	resync = !legit resync
	sprout = !legit sprout
	switch = !legit switch
	sync = !legit sync
	unpublish = !legit unpublish
[color]
	ui = true
[core]
	autocrlf = false
	editor = code --wait
	excludesfile = ~/.gitignore
	pager = less
	savecrlf = true
	whitespace = trailing-space,space-before-tab,tab-in-indent
[filter "lfs"]
	clean = git-lfs clean -- %f
	process = git-lfs filter-process
	required = true
	smudge = git-lfs smudge -- %f
[format]
	pretty = format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
[help]
	autocorrect = 5
[init]
	templateDir = ~/.config/git/template/
[log]
	abbrevCommit = true
[merge "ours"]
	driver = true
[push]
	default = simple
